@charset "UTF-8";
@font-face {
  font-family: "NuYomogiMochi"; 
  src: url("../NuYomogiMochi-v1.0.0/NuYomogiMochi-Reg.otf");
}
/*------------------
      BASE
--------------------*/

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.topic {
  margin-top: 5%;
  margin-bottom: 5%;
}
img {
  width: 256px;
  height: 256px;
}
/*--------------------
        BODY
----------------------*/

body {
  background-size: cover;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: NuYomogiMochi, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
 }
.nes-list.is-circle li::before {
  margin: 0 30%;
}
/*---------------------
        HEAD
----------------------*/
#nescss {
  display: block;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #666666;
  background-color: #FFFFFF;
}
.site-title-sub {
  color: black;
}
.site-title {
  color: black;
}

/*------------------
        video
-------------------*/

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(./sapmle.png) no-repeat center center/cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 4px 4px;
  z-index: 2;
}
.bg-video-wrap h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
}
.bg-video-wrap .btn {
  text-align: center;
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  max-width: 200px;
  width: 100%;
  height: 50px;
}
/*---------------------
      Future
----------------------*/
.items {
  padding: 20px;
}

/*---------------------
      contests
-----------------------*/
.contests-container {
  margin: 0 5%;
}
.contests-wrapper {
display: table;
width: 100%;
margin-top: 10px;
table-layout: fixed;
}
.contests-box {
  display: table-cell;
}
.contests-images {
  border-bottom: ridge #2C2C2C;
  margin-bottom: 10px;
}
/*-----------------------
        join
------------------------*/

.joinus {
  font-size: 2rem;
  padding-bottom: 5%;
}
.topic .message {
  display: flex;
  justify-content: center;
}

/*-----------------------
        ranking
-------------------------*/
#ranking a{
  text-decoration: none;
  color: initial;
}
.rank-one {
  font-size: 3rem;
  color: red;
}
.rank-two {
  font-size: 2.5rem;
  color: orange;
}
.rank-three {
  font-size: 2rem;
  color: #E0E855; 
}
.rank-none {
  color: black;
}
.user-cyan a > span, .user-cyan span {
  color: #00C0C0;
}
.user-green a > span, .user-green span {
  color: #008000;
}
.user-brown a > span, .user-brown span {
  color: #804000;
}
.user-gray a > span, .user-gray span {
  color: #808080;
}

@media (max-width: 768px) {
  .contests-wrapper {
  display: table;
  width: 100%;
  margin-top: 10px;
  table-layout: fixed;
  }
  .contests-box {
    display: table-cell;
  }
  .contests-wrapper,
  .contests-box {
    display: block;
  }
  .contests-images {
    border-bottom: ridge #2C2C2C;
    margin-bottom: 10px;
  }
  .nes-list.is-circle li::before {
    margin: 0 15%;
  }
}
